// 操作按钮行样式
.zh-action-row{
    .el-form-item{margin-bottom:10px;}
}

// 搜索栏样式
.my-search{
    .el-form-item{margin-bottom:10px;}
}

// 全屏表单页样式
.form-page{
    width:1100px; margin:0 auto;
    @media only screen and (max-width: 1100px){
        width:auto;
    }
}

.el-table td, .el-table th{padding:10px 0;}
.el-table .cell{line-height:1em;}
.el-table .cell .el-button--text{padding:0;}

// 占整行的tableform项样式
.table-full-row{width:100% !important;}

@media only screen and (min-width: 768px){
    //sm
}

@media only screen and (min-width: 992px){
    //md
}

@media only screen and (min-width: 1200px){
    //lg
}

@media only screen and (min-width: 1920px){
    //xl
}

@media print {
    @page {
      size: A4 portrait;
    }

    .no-print{display:none !important;}

    .left-nav, .top-nav{display:none !important;}
    .layout .view{left:0 !important; top:0 !important; padding:0 !important;}

    body, html, #app{width:auto !important; height:auto !important; overflow:auto !important;}
    .layout .view{position:relative !important;}
}
